*.class

# Package Files #
*.jar
*.war
*.ear
.metadata
target
dailyprogrammer/go/bin/
dailyprogrammer/go/pkg/windows_amd64/github.com/stretchr/
dailyprogrammer/go/src/github.com
dailyprogrammer/go/pkg/linux_amd64/github.com/stretchr/
